<div class="container">
            <div class="title-section text-center">
               <a href onclick="location.reload();" >  <h2>Users List</h2> </a>
                <span></span>
            </div> <!-- /.title-section -->
         
            <div class="row">
	            <div class="userform">
	                <div class="col-md-12 col-sm-12">
	           			 <!--#################### F O R M ##################-->
			  			
						    <!-- http://www.codingcage.com/2015/03/html5-form-validations-with-pattern.html  -->               
			            
          <form name="userform" class="col s12" >
	      <div class="row" >
	        <div class="input-field col s6">
	          <input id="first_name" type="text" name="fname" minlength="2" maxlength="20" onblur="toogleCase(this);"  class="validate" pattern="[A-Za-z]+">
	           <label for="first_name" data-error="First name seems wrong." data-success="">First Name</label>
	        </div>
	        
	        <div class="input-field col s6">
	          <input id="last_name" type="text" minlength="2" maxlength="20"  onblur="toogleCase(this);" class="validate" pattern="[A-Za-z]+">
	          <label for="last_name" data-error="Last name seems wrong." data-success="">Last Name</label>
	        </div>

	      </div>


	      <div class="row">
	        <div class="input-field col s6">
	          <input type="text" pattern="^\d{10}$" id="mobile" class="validate" minlength="10" maxlength="10" >
	         <label for="mobile" data-error="Mobile number seems wrong." data-success="">Mobile</label>
	        </div>
	      
	        <div class="input-field col s6">
	          <input id="email" type="email" onblur="this.value=this.value.toLowerCase();" class="validate">
	         <label for="email" data-error="Email seems wrong." data-success="">Email</label>
	        </div>
	      </div>
	      <div class="row">
	        <div class="input-field col s12">
	          <input id="email" type="email" class="validate">
	          <label for="email">Email</label>
	        </div>
	      </div>



	       <div class="row">
	        <div class="input-field col s12">								  
			    <select multiple>
			      <option value="" disabled selected>Choose your option</option>
			      <option >C</option>
			      <option >C++</option>
			      <option >HTML, CSS</option>
			       <option>Javascript</option>
			      <option >Angular JS</option>
			      <option >PHP</option>
			      <option>Wordpress</option>
  								      
			    </select>
			    
			</div>
			</div>


	      <div class="row">
	        <div class="input-field col s12">
		    	 <textarea id="textarea1" class="materialize-textarea" length="120"></textarea>
<label for="textarea1">Textarea</label>
			    
		  </div>
		  </div>

		 


		  	 <div class="row">
	        <div class="input-field col s12">
			 	  <input type="date" class="datepicker" id="dob">
			 	  <label for="dob" >Dob </label>
			 	 
			  </div></div>





	      <div class="row">
	        <div class="input-field col s12">
	          <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color: #E3722E;">Submit
			    
			  </button>
	        </div>
	      </div>
	    </form>

						 <!--#################### / F O R M  ##################-->
					</div>
	             </div>
	         </div> <!-- /.row -->
</div> <!-- /.container -->
        
        <script type="text/javascript">
           $(document).ready(function() {
		    $('select').material_select();
		  });

           $('.datepicker').pickadate({
           	 min: [1970,1,1],
  			 max: [2016,30,12],

		    selectMonths: true, // Creates a dropdown to control month
		    selectYears: 100 // Creates a dropdown of 15 years to control year
		  });

           var fname = document.getElementById('first_name');
           fname.addEventListener('onkeypress', function(){
           		console.log('caasd');
           });

           function toogleCase(element){
           	  var start = element.value[0];
           	  var end   = element.value.toLowerCase().slice(1); 
           	  element.value = start.toUpperCase() + end;  
       	 	
            }


   </script>
